<div class="container">
<div class='container-fluid  mt-5'>
<app-select (catFromSelect)="filterProducts($event)" title="Category" [allValues]="categories"></app-select>

<ng-container *ngIf="!showSnipper else show" >
    <div class="container " >
      <div class="all">

      <div *ngFor="let product of products" >
        <app-product [product]="product"></app-product>
      </div>
    </div>
    </div>
</ng-container>

<ng-template #show>
      <div class="text-center w-100">
        <app-spinner></app-spinner>
      </div>
</ng-template>

</div>
</div>
