<div  class="card" >
  <img [src]="product.image" class="mx-auto" width="200px" height="200px" alt="...">
  <div class="card-body text-center">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">Price: ${{product.price}}</p>
    <p class="card-text">Available Quantity: {{product.rating.count}}</p>

    <div class="buttons">
    <a routerLink="/Products/{{product.id}}" class="btn details px-auto" >view details</a><br />
    <div class="add-cart">
      <span>count:<input type="number" min="0" [value]="selectedQuantinty" [max]="product.rating.count" (change)="change($event)" onkeydown="return false"></span>
    <button [disabled]="selectedQuantinty==0" class="btn cart px-auto" (click)="addToCart()">ADD TO CART</button>
    </div>
    </div>
  </div>
</div>
