
.card {
  box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
  height: 520px;
  width: 19rem;
  padding: 20px 3px;
}

.card-title {
font-size: 15px;
height: 70px;
}

.btn-2 {
  background: #2ecc71;
  color: #fff;
}

.btn-2:hover {
  background: #27ae60;
}
.btn {
  border-radius: 0;
}

.btn-2:active {
  background: #27ae60;
  top: 2px;
}
.cart {
  background-color: #212121;
  color: white;
  font-size: 12px;
  font-weight: 900;
  width: 50%;
  height: 100%;
  padding-top: 9px;
  transition: .2s;
}
.cart:hover{
box-shadow: 0px 5px 10px  #212121;

}
.details {
  border: 1.5px solid grey;
  color: #212121;
  height: auto;
  transition: .2s;
  width: 100%;

}
.details:hover{
box-shadow: 0px 0px 10px #212121;

}
.add-cart{
display: flex;
justify-content: space-between;
height: 40px;
align-items: center;
margin-top: 20px;
}
.add-cart input{
  width: 60px;
  margin-left: 10px;
  border: none;
  outline: none;
}
.add-cart span{
  border: 1px solid #988b8b;
  width: 118px;
  color: #615050;
  padding: 4px 1px 4px 3px;
  font-size: 14px;
  box-shadow: 0px 1px 5px 0px #988b8b;
  font-weight: bold;
}
@media (max-width: 1200){
.card{
  width:  18rem;
}
}

